<ngxux-mat-dialog id="create-user">

    <form [formGroup]="formGroup">

        <table>

            <tr>

                <td colspan="2">

                    <mat-form-field floatLabel="always">

                        <input matInput
                               autoFocus
                               placeholder="Name"
                               formControlName="name">

                    </mat-form-field>

                </td>

            </tr>

            <tr>

                <td colspan="2">

                    <mat-form-field floatLabel="always">

                        <input matInput
                               required
                               placeholder="Username"
                               formControlName="username">

                    </mat-form-field>

                </td>

            </tr>

            <tr>

                <td>

                    <mat-form-field floatLabel="always">

                        <input matInput
                               required
                               placeholder="Password"
                               type="password"
                               formControlName="password">

                    </mat-form-field>

                </td>

                <td>

                    <mat-form-field floatLabel="always">

                        <input matInput
                               required
                               placeholder="Verify Password"
                               type="password"
                               formControlName="password2">

                    </mat-form-field>

                </td>

            </tr>

            <tr>

                <td colspan="2">


                    <mat-slide-toggle placeholder="Name"
                                      formControlName="enabled">

                        Enabled

                    </mat-slide-toggle>

                </td>

            </tr>

        </table>

    </form>

</ngxux-mat-dialog>
