:host {
    
    .wrapper {
        
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        
        form {
            
            display: flex;
            align-items: center;
            padding: 20px;
            background: #fff;
            height: 100%;
            width: 220px;
            margin-right: 50px;
            
            .buttons {
                
                display: flex;
                justify-content: flex-end;
                
            }
            
        }
        
    }
    
}
